* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #3399cc !important;
}
a:visited {
  color: #333;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  background-color: #fff;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  z-index: 999;
}
.header .header-content {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.header-content .logo {
  width: 100px;
  height: 100%;
  padding: 5px 0;
  top: 1px;
  left: 0;
}
.header-content .logo a {
  background-image: url(https://static-znews.zadn.vn/images/logo-zing-home.svg);
  background-size: cover;
  display: block;
  width: 94%;
  height: 29px;
}
.header-content .logo span {
  top: 29px;
  color: #444444;
  display: block;
  font-size: 8px;
}
.menu {
  margin: 0 auto;
}
.menu ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.menu ul li {
  margin-right: 15px;
  font-size: 14px;
  height: 100%;
}
.menu ul li a {
  text-decoration: none;
  color: #444444;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu ul li a:hover {
  color: #3399cc;
  border-bottom: 3px solid #3399cc;
}
.menu ul .more {
  font-size: x-large;
  margin-top: -8px;
}
.header-content .toolbox {
  width: 94px;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-content .toolbox i {
  line-height: 100%;
  text-align: center;
  flex-basis: 54px;
}
.header-content .toolbox .avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}
.container {
  padding-top: 52px;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.container .widget-ticker {
  margin-bottom: 15px;
  margin-top: 15px;
  float: left;
  width: 100%;
  padding-top: 5px;
  line-height: 30px;
  height: 30px;
  position: relative;
  display: flex;
  font-size: 12px;
}
.widget-ticker > strong {
  color: #fff;
  background-color: #dd3333;
  border: 1px solid #dd3333;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  float: left;
  border-radius: 4px 0px 0px 4px;
}
.widget-ticker .country {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #dd3333;
}
.widget-ticker .status {
  height: 20px;
  line-height: 20px;
  width: 431px;
  padding: 0 10px;
  text-align: center;
  border: 1px solid #dd3333;
  border-left-width: 0px;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  justify-content: space-around;
}
.widget-ticker .status .recover {
  color: #3392a1;
}
.widget-ticker .status .case {
  color: #d23e2c;
}
.widget-ticker .widget-weather {
  flex-grow: 1;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  align-items: center;
}
.widget-ticker .widget-weather li {
  display: block;
  float: right;
}
.widget-ticker .widget-weather li em {
  font-style: normal;
}
.widget-ticker .widget-weather li img {
  height: 30px;
  width: auto;
  display: block;
  float: right;
  margin: -5px 0px 0px 5px;
}
.container .content {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.content .left {
  width: 30%;
  float: left;
  padding-right: 20px;
}
.left .list-news {
  width: 100%;
  font-family: "Roboto", Ubuntu, sans-serif;
  line-height: 1.4;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #dedede;
  display: flex;
}
.left .list-news:last-child {
  border-bottom: none;
}
.left .list-news .img {
  width: 120px;
  height: 80px;
  margin-right: 12px;
}

.left .list-news p a img {
  width: 120px;
  height: 80px;
}
.left .list-news .title a {
  color: #333;
  line-height: 1.4;
  font-size: 0.9rem;
  font-weight: bold;
}
.content .middle {
  width: 44.74%;
  margin-bottom: 0;
  margin-right: 20px;
}
.middle a img {
  width: 100%;
  height: 328.05px;
  margin-bottom: 10px;
}
.middle a h1 {
  font-size: 28.8px;
  margin-bottom: 8px;
}
.middle .sub-title {
  color: #444;
  line-height: 1.7;
  font-size: 14.5px;
}
.middle ul {
  padding-left: 14px;
  margin-top: 10px;
}
.middle ul li a {
  font-size: 14px;
  font-weight: bold;
}

.content .right {
  width: calc(25.26% - 20px);
}
.card {
  margin-bottom: 25px;
}
.card a img {
  width: 100%;
  height: 100%;
  min-height: 171.96px;
  object-fit: cover;
  margin-bottom: 8px;
}
.card p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
}

.container .slideshow-container {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
.slideshow-container .slideshow-title {
  margin-bottom: 20px;
  display: block;
}
.slideshow-container .slideshow-title h3 {
  font-size: 1em;
  padding: 0 15px 0 20px;
  margin: 6px 0 4px 0;
  position: relative;
}
h3:before {
  content: "";
  position: absolute;
  width: 5px;
  left: 5px;
  top: 2px;
  bottom: 2px;
  -webkit-transform: skew(-20deg);
  -khtml-transform: skew(-20deg);
  transform: skew(-20deg);
  background-color: #dd3333;
}
.slideshow-container .mySlides {
  display: none;
}
.slideshow-container .mySlides ul {
  width: 100%;
  display: flex;
}
.slideshow-container .mySlides ul li:first-child {
  margin-left: 0px;
}
.slideshow-container .mySlides ul li {
  width: 204px;
  margin: 0px 10px;
  background-color: #f7f7f7;
}
.slideshow-container .mySlides ul li:last-child {
  margin-right: 0px;
}
.slideshow-container .mySlides ul li a img {
  height: 136px;
}
.slideshow-container .mySlides ul li a p {
  padding: 0 10px 10px;
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 36%;
  padding: 16px;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: -55px;
}

/* Position the "next button" to the right */
.next {
  right: -55px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container .multimedia {
  margin-bottom: 80px;
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.multimedia:before {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  background: #ffde76;
  z-index: -999;
}
.multimedia .multi-menu {
  display: flex;
  margin-bottom: 20px;
}

.large-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #000;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 0 15px 0 20px;
  margin: 6px 0 4px 0;
}
.multimedia .multi-menu ul {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.multimedia .multi-menu ul li {
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.multimedia .multi-main {
  display: flex;
  flex-wrap: wrap;
}
.multi-main .multi-item {
  width: 23.5%;
  margin-bottom: 20px;
  margin-right: 2%;
  position: relative;
  font-size: 1rem;
}
.multi-main .multi-item:first-child {
  width: 49%;
	height: 359.35px;
}
.multi-main .multi-item:first-child .card a p {
	position: absolute;
	bottom: 0;
	font-size: 2em;
	width: 100%;
	padding: 20px 20px 24px 20px;
	color: #fff;
	text-shadow: 0 1px 5px #000;
	margin-bottom: -7px;
	background-image: linear-gradient(-180deg, rgba(255,255,255,0) 0%, #323751 100%);
}
.multi-main .multi-item:nth-child(4n+3) {
    margin-right: 0;
}
.after {
  width: 100%;
  margin-bottom: 20px;
}
.content .left:nth-child(2) {
  width: calc(100% - 300px);
}
.list-new-second {
  display: flex;
  color: #333;
  line-height: 1.4;
  font-size: 1.3em;
  font-weight: bold;
  
}
.list-new-second a{
  width: 33%;
  margin-right: 15px;
}
.list-new-second a img {
  width: 100%;
  height: 171.59px;
  object-fit: cover;
}
.list-new-second .summary {
  width: calc(67% - 15px);
}
.list-new-second .summary a{
  margin-right: 0;
}
.list-new-second .summary p {
  font-size: 11px;
  color: #aaa;
  font-weight: normal;
  margin: 6px 0;
}
.list-new-second .summary p:last-child {
  font-size: 0.64em;
  color: #888;
  margin: 0;
  line-height: 1.4;
}
.content .right2 {
  width: 300px;
}
.right2 .widget-finance {
  width: 100%;
  height: 70px;
  padding: 13px 10px 8px;
  background: #f7f7f7;
  margin: 0 0 10px;
  font-size: 12px;
  display: block;
}
.widget-finance ul:before {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #888;
}
.widget-finance ul.stock {
  width: 54%;
  float: left;
  position: relative;
}
.widget-finance ul.stock:before {
  content: "Chứng khoán";
}
.widget-finance ul.stock:after {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  top: 0px;
  right: -7px;
  bottom: 0;
  background: #eaeaea;
}
.widget-finance ul.exchange:before {
  content: "Tỉ giá USD";
}
.widget-finance ul li {
  line-height: 16px;
  text-align: right;
}
.widget-finance ul li strong {
  float: left;
}
.widget-finance ul li em.negative {
  background: #ffe0e0;
}
.widget-finance ul li em {
  font-style: normal;
  display: inline-block;
  padding: 0 3px;
  background: #fff;
  font-size: 8px;
  position: relative;
  top: -2px;
  line-height: 13px;
}
.widget-finance ul.exchange {
  width: 40%;
  float: right;
  margin-right: 1%;
}